<mapper namespace="KakaoMapper">
    <insert id="insertUser" parameterType="java.util.HashMap">
        INSERT INTO users (email, nickname)
        VALUES (#{email}, #{nickname})
    </insert>

    <select id="findUserByEmail" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT * FROM users WHERE email = #{email}
    </select>
</mapper>